{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Dashboard Ambiental{% endblock %}

{% block extrastyle %}
  {% include "dashboard/_styles.html" %}
{% endblock %}

{% block content %}
  <div class="wrap">
    {% include "dashboard/_header.html" %}
    {% include "dashboard/_cards.html" %}
    
    <div class="content-grid">
      {% include "dashboard/_charts.html" %}
      {% include "dashboard/_sidebar.html" %}
    </div>
        {% include "dashboard/_advanced_charts.html" %}
  </div>

  {% include "dashboard/_scripts.html" %}
{% endblock %}